#page2{
background:;
max-width:80%;
margin:0px auto;
border-radius:10px;
}
#page{
margin-top:-20px;
background:#BFBFBF;
max-width:85%;
margin:0px auto;
padding:10px;
min-height:100px;
border-radius:10px;
}
#footer{
max-width:78%;
margin:0px auto;
margin-top:20px;
border-top:1px groove #ADD8E6;
padding:10px;
}
.links_at_footer{
text-align:right;
padding-right:5px;
}
.links_at_footer a{
padding-right:50px;}
.copyright{
margin-top:20px;
text-align:center;
}









