body{
background:#ADD8E6;
}

#navigation_bar{
max-width:70%;
margin:8px auto;
border-radius:10px;

}

#breadcrumbs{
max-width:70%;
margin:3px auto;
border-radius:10px;
}
#contents_of_pages{
max-width:70%;
margin:5px auto;
}
.page_contents{
padding:10px;
font-family:;
color:;
text-align:justify;
max-width:70%;
margin:0px auto;
}
.links_header{
font-size:15px;
}
#contacts{
font-family:;
text-align: justify;
color:;
border-radius:10px;
background-color:#E5E5E5;
padding:10px;
margin-bottom:10px;
}
#contacts #name{
font-size:17px;
font-style:bold;
font-family:;
}
#services{
font-family:;
text-align: justify;
color:;
border-radius:10px;
background-color:#E5E5E5;
padding:10px;
margin-bottom:10px;
}
#services #name{
font-size:17px;
font-style:bold;
font-family:;
}
#footer{
max-width:70%;
margin:0px auto;
text-align: center;
}









