{% load sekizai_tags i18n cms_tags menu_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<title >{% page_attribute page_title %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!---------------styles files---------------------------------------->
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap-responsive.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/docs.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/prettify.css" >
		<link rel="stylesheet" media= 'screen' href="{{STATIC_URL}}css/mystyle.css">
	</head>
<body>
		
<div id='navigation_bar'>
<!-- -------------navigation bar--------------->		
<div class ="navbar " >
<div class = "navbar-inner" >
<div class ='containe-fluid'>
<ul class="nav"> 
{% show_menu 0 100 100 100 "navigation.html" %}	
</ul>
</div>
</div>		
</div>
</div>

<!-----------breadcrums------------------------->
<div id='breadcrumbs'>
<ul class='breadcrumb'style=' text-align:left'>
<i>You are:</i> &#160;{% show_breadcrumb %}<span class="pull-right">Date:&#160;<em>{% now "jS F Y" %}</em></span>
</ul>
</div>

<!-- ---------------contents of page ------- ---->
<div id='contents_of_pages'>
	<div class = "row-fluid ">
		<div class = "span9"  >
			{% block page_contents %}{% endblock%}		
		</div>
		
		<div class = "span3 userful_links well " style = "min-height:270px;">
			<ul class = "nav nav-list">
				<li class = "nav-header links_header">Useful links</li>
				{% block useful_links %}{% endblock%}
					
			</ul>
		</div>			
	</div>
<hr>
</div>

<!---------------- footer ---------------------->
<div id='footer'>
	
	<p>This site developed by <b>Mr. Joseph Chingalo</b>,<br> Computer science student at University of Dar es salaam<br>
	&copy; {% now " Y" %}<br> all right reserved</p>
		
	<hr>	
</div>

<!--------------------js links for bootstrap---------->
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
<script>
	!function ($) {
		 $('#myCarousel').carousel()
		})
	 }(window.jQuery)
</script>
<script src="{{STATIC_URL}}js/bootstrap-affix.js"></script>
<script src="{{STATIC_URL}}js/holder.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-affix.js"></script>
<script src="{{STATIC_URL}}js/prettify.js"></script>
<script src="{{STATIC_URL}}js/application.js"></script>
<!-- -----------end of js files from bootstrap---------->
	
</body>
</html>
