{% extends "base2.html" %}
{% load cms_tags menu_tags %}

<!----------- conctact infos -------->

{% block page_contents %}
<div class = "row-fluid">
	<div class = "well" style = "height: 170px;">
		<div class = "span4">
			<address>
				<strong>The Developer,</strong><br/>
				Mr. Joseph Chingalo<br>
				Computer Science Student - UDSM<br>
				<abbr title="Phone number">P:</abbr> +255 687168637 or<br>  +255 718922311<br>	
				<a href="mailto:profschingalo@gmail.com" style="color: #4D4D4D;">profschingalo@gmail.com</a><br>
				<a href="https://www.facebook.com/profs.chingalo" style="color: #4D4D4D;">facebook</a><br>	
				<a href="https://twitter.com/profchingalo" style="color: #4D4D4D;">Twitter</a><br>	
				<a href="http://instagram.com/profschingalo" style="color: #4D4D4D;">Instagram</a><br>	
			</address>		
		</div>
		
		<div class = "span4">
			<address>
				<strong>The Consultant,</strong><br/>
				Mr. PhilibertChingalo<br>
				P.O.Box 10112,<br>
				Dar-es-salaam.<br>
				<abbr title="Phone">P:</abbr> +255 784331413 or<br> +255 752134497<br>	
				<a href="mailto:fchingalo@yahoo.com" style="color: #4D4D4D;">fchingalo@yahoo.com</a><br>
				<a href="https://www.facebook.com/philibert.chingalo" style="color: #4D4D4D;">facebook</a><br>				
			</address>		
		</div>
					
	</div>	
</div>
{% endblock %}




