{% extends "base.html" %}
{% load cms_tags menu_tags %}

<!-- contents for donload report----- -->
{% block page_contents %}
<div class = "row-fluid">
	<div class = "well">
		
		
		<!--<i class="icon-file icon-white"></i><i class="icon-download-alt pull-right"></i>-->
		<div class = "row-fluid">
			<div class = "well">
				<div class="tabbable">
					<!---------- tabs----------->
					<ul class ="nav nav-tabs">
						{% for receiver in receiverList %}
						{% if forloop.counter == 1 %}
						<li class="active span4">
							<a href="#{{receiver.id}}" data-toggle='tab'>{{receiver}}</a>
						</li>
						{% else %}
						<li class="span4">
							<a href="#{{receiver.id}}" data-toggle='tab'>{{receiver}}</a>
						</li>
						{% endif %}
						{% endfor %}			
					</ul>
					<!-------------contents for tabs----------{% if forloop.counter == 1 %}{% endif %}-->


					<div class="tab-content" style="text-align: left">
						
						{% for receiver in receiverList %}
						{% if forloop.counter == 1 %}
						<div class="tab-pane active" id="{{receiver.id}}">
							<ul class="nav nav-tabs nav-stacked">
						<!--- details in the tabs {{.file.url}}---->
								{% for report in  reportList%}						
								{% if report.name_of_receiver == receiver %}
								{% for file in fileList %}
								{% if file.report_title == report %}
								{{receiver}}-->{{report}}-->{{file}}-->{{receiver.id}}<br>
								{% endif %}
								{% endfor %}		
								{% endif %}						
								{% endfor %}
								<li style="padding: 3px"> details<a href=""><b><i class="icon-file icon-white"></i>file name</b>
								<i class="icon-download-alt pull-right"></i></a></li>					
							</ul>				
						</div>
						{% else %}
						<div class="tab-pane" id="{{receiver.id}}">
							<ul class="nav nav-tabs nav-stacked">
						<!--- details in the tabs {{.file.url}}---->
								{% for report in  reportList%}						
								{% if report.name_of_receiver == receiver %}
								{% for file in fileList %}
								{% if file.report_title == report %}
								{{receiver}}-->{{report}}-->{{file}}-->{{receiver.id}}<br>
								{% endif %}
								{% endfor %}		
								{% endif %}						
								{% endfor %}
								<li style="padding: 3px"> details<a href=""><b><i class="icon-file icon-white"></i>file name</b>
								<i class="icon-download-alt pull-right"></i></a></li>					
							</ul>				
						</div>
						{% endif %}					
						{%endfor%}
							
						
						
					</div>			
				</div>				
			</div>	
		</div>				
	</div>	
</div>
{% endblock%}

{% block useful_links %}
<li ><a href="/report">Report</a></li>
<li ><a href="{% url 'reportStep1'  %}">Upload Report</a></li>
<li ><a href="{% url 'reportSearch'  %}">Search Report</a></li>
{% endblock%}
