{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<div class = 'well'>
{% if references %}	
<div class = 'tabbable tabs-left'>
<!--tabs for reference-->
<ul class="nav nav-tabs">
{% for reference in references %}	
<li> <a href=#{{reference}} data-toggle="tab">{{ reference }}</a> </li>
{% endfor %}
</ul>
<!-- contensts for each tab-->
<div class="tab-content">
{% for reference in references %}
<div class="tab-pane " id={{reference}}>
<!--problems-{% for file in reference.reference_title_set.all %}
{{file}}
{% endfor %}-->
</div>
{% endfor %}
</div>
</div>
{% endif %}
</div>

{% endblock%}

