{% extends "base.html" %}
{% load cms_tags menu_tags %}

<!---------------contents for search reference------------------>
{% block page_contents %}
<div class = "row-fluid">
	<div class = "well">
		{{message}}<br>
		{% if page == "searchResults" %}
		<p>You searched for: <strong>{{ searchedReference }}</strong></p>
		
		<p>Found {{ resultOfReference|length }} reference{{ resultOfReference|pluralize }}.</p>
		
	<!--results:{{resultOfReference}}<br>form form:{{searchedReference}}<br> fileList--><hr>
		{% else %}
		<form action = "{% url 'referenceSearch'  %}" method = "POST" >
			{% csrf_token %}
			<table class="table table-striped">
				<tr>
					<td>
					The Reference Title
					</td>
					<td>
						<input type = "text" name = "reference" placeholder = "Reference title to be searched" />					
					</td>				
				</tr>			
			</table><hr>
			<div  style = "text-align:center; ">
				<input type = "submit" value = "Search" name = "submit">&#160;&#160;
				<input type = "reset" value = "Reset" name = "reset">					
			</div>	
		</form>	
		{% endif %}
	  </div>	
</div>
{% endblock%}

{% block useful_links %}
<li ><a href="/reference/">Reference</a></li>
<li ><a href="{% url 'referenceStep1'  %}">Upload Reference</a></li>
<li ><a href="{% url 'referenceDownload'  %}">Download Reference</a></li>
{% endblock%}
